/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-style: Montserrat;
}
.flex{
    display: flex;
}
main h6{
    align-self: center;
    color: white;
    margin-bottom: .3rem;
}
span{
    color: white;
}
main h5{
    align-self: center;
    color: white;
    margin-bottom: .3rem; 
}
h3{
    color: white;
    margin-bottom: .5rem;
}  
main section.logo-section{
    width: 200px;
    height: calc(100vh - 100px);
    border: 1px solid red;
    background-color: black;
    flex-direction: column;
    padding: 1rem;
}
main section.logo-section img{
    width: 60%;
    margin-bottom: 1rem; 
}
main div.main-container{
    width: 100%;
    height: 10%;
    border: 1px solid aqua;
}
section span.fa-arrow-circle-down{
    align-self: center;
    margin-right: .3rem;
}
main section.banner-section{
    width:calc(100% - 200px);
    border: 1px solid green;
    background-color: rgb(16, 17, 22);
    overflow-y: auto;
    height: calc(100vh - 100px);
    /* position: relative; */
}
main section.bottom-side{
    border: 1px solid gold;
    width: 100%;
    height: 80px;

}
.special-ul{
    border: 1px solid blue;
    flex-direction: column;
    overflow-y: auto;
    height: 50%;
}
ul,.special-ul{
    list-style: none;
}
i {
    color: white;
}
.fas{
    font-size: 1.2rem;
    margin:0 .3rem .5rem 0;
    color: white;
}
hr{
    margin:.6rem 0 .6rem 0;
}
main section.card{
    width: 100%;
    border: 2px solid blueviolet;
    flex-wrap: wrap;
    margin: 2rem auto;
}
main div.main-title{
    width: 100%;
}
main div.img-container{
    width: 13%;
    border: 1px solid darkblue;
    flex-direction: column;
    margin-right: .7rem;
}
main header{
    width: 100%;
    height:50px;
    border: 1px solid purple;
    justify-content: center;
    flex-wrap: wrap;
}
main header a{
    align-self: center;
    text-decoration: none;
    margin: 0 1rem;
    font-size: .7rem;
}
main div.img-container img{
    margin-bottom: .3rem;
}
ul li{
    color: white;
    margin-bottom: 1rem;
}
footer section.footer{
    width: 100%;
    height: 100px;
    border: 1px solid coral;
    background-color: gray;
}
footer div.side-footer{
    width: 20%;
    /* max-width: 200px; */
    height: 100%;
    border: 1px solid red;
    align-items: center;
    justify-content: space-between;
}
footer div.side-footer i{
    margin: .4rem;
}
footer div.side-footer img{
    width: 25%;
    height: 50%;
    align-self: center;
    padding: .4rem;
}
footer div.nav-footer{
    width: calc(100% - 40%);
    height: 100%;
    border: 1px solid blue;
    padding: .5rem;
}
footer div.nav-footer i{
    margin: .3rem .8rem .3rem .8rem;
}
footer div.nav-footer-player{
    height: 40px;
    border:1px solid crimson;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}
footer span.loading-bar{
    width: 100%;
    height: 10px;
    background-color: green;
    align-self: center;
    margin: 0 .5rem 0 .5rem;
    border-radius: 20px;
}
footer span.flex{
    justify-content: space-evenly;
}

.fa-play-circle{
    font-size: 1.5rem;
}

/* TABLET */
@media screen and (max-width: 760px){
    main div.img-container{
        width: 20%;
        border: 1px solid darkblue;
        flex-direction: column;
        margin-right: .7rem;
    }
  
}















