/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.flex{
    display: flex;
}
main h6{
    align-self: center;
    color: white;
    margin: 0.3rem;
}
main h4{
    align-self: center;
    color: white;
    margin: 0.3rem;
}
h3{
    color: white;
    margin-bottom: 1rem;
}
header aside.logo{
    width: 250px;
    height: 90vh;
    border: 1px solid red; 
    background-color: black;
}
header aside.logo img{
    width: 8rem;
    height: 2rem;
}
header aside.btn-upgrade{
    width: 85%;
    height: 7vh;
    border: 1px solid gold;
    background-color: rgb(16, 17, 22);
    justify-content: flex-end;  
    
}
header aside.btn-upgrade a{
    align-self: center;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.7rem 2rem;
    text-decoration: none;
}
main section.main-container{
    width: 100%;
    height: 80vh;
    border: 1px solid black;  
    
    }
main section aside.main-center{
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
}

main aside div.main-central-nav{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
main aside div.main-central-nav a{
    align-self: center;
    text-decoration: none;
    margin: 0 2rem;
}

main div.img-container{
    width: 200px;
    border: 1px solid darkblue;
    flex-direction: column;
    border-right: 0.5rem solid rgb(20, 25, 34);
}
main section.card{
    width: 90%;
    border: 2px solid blueviolet;
    flex-wrap: wrap;
    margin: 1rem auto;
    
}

/* img{
    width: 100%;
    align-self: center;
} */

.main-title{
    width: 100%;
}

section.container{
    width: 100%;
    height: 100%;
    border: 2px solid purple;
}





footer section.footer-main-container{
    width: 100%;
    height:10vh;
    border: 1px solid salmon;
    background-color: rgb(34, 34, 34);
}

footer div.left-footer{
    width: 250px;
    height: 100%;
    border: 1px solid blue;
}
footer div.footer-left-img{
    flex-direction: column;
    align-self: center;
    padding-left: .7rem;

}
footer div.left-footer img{
    width: 70px;
    height: 50px;
    padding-left: 0.5rem;
}

footer div.left-footer i{
    align-self: center;

}

footer div.footer-left-elements{
    justify-content: flex-end;
    color: wheat;
}

footer div.central-footer{
    width: 65%;
    height: 100%;
    border: 1px solid orange;
}

footer div.right-footer{
    width: 20%;
    height: 100%;
    border: 1px solid green;
}












