/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-style: Montserrat;
}
.flex{
    display: flex;
}
main h6{
    align-self: center;
    color: white;
    margin-bottom: .3rem;
}
span{
    color: white;
}
main h5{
    align-self: center;
    color: white;
    margin-bottom: .3rem; 
}
h3{
    color: white;
    margin-bottom: .5rem;
}  
main section.logo-section{
    width: 200px;
    height: calc(100vh - 100px);
    border: 1px solid red;
    background-color: black;
    flex-direction: column;
    padding: .4rem;
}
main section.logo-section img{
    width: 60%;
    margin-bottom: 2rem; 
}
main div.main-container{
    width: 100%;
    height: 10%;
    border: 1px solid aqua;
}
section span.fa-arrow-circle-down{
    align-self: center;
    margin-right: .3rem;
}
main section.banner-section{
    width:calc(100% - 200px);
    border: 1px solid green;
    background-color: rgb(16, 17, 22);
    overflow-y: auto;
    height: calc(100vh - 100px);
}
main div.banner{
    width: 100%;
    border: 1px solid red;
    height: 60px;
    position: sticky;
    top: 0;   
    justify-content: flex-end;
    background-color: black;
}
main div.banner a{
    align-self: center;
    text-decoration: none;
    margin-right: 1rem;
    border: 1px solid white;
    border-radius: 20px;
    padding: .5rem;
}
main section.bottom-side{
    border: 1px solid gold;
    width: 100%;
}
.special-ul{
    border: 1px solid blue;
    flex-direction: column;
    overflow-y: auto;
    height: 80%;
}
.special-ul li{
    color: gray;
}
ul,.special-ul{
    list-style: none;
}
i {
    color: white;
}
.fas{
    font-size: 1.2rem;
    margin:0 .3rem .5rem 0;
    color: white;
}
hr{
    margin:.2rem 0 .6rem 0;
}
main section.card{
    border: 2px solid blueviolet;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding-left: 1rem;
}
main div.main-title{
    width: 100%;
}
main div.img-container{
    width: 13%;
    border: 1px solid darkblue;
    flex-direction: column;
    margin-right: .7rem;
    position: relative;
}
main div.img-container:hover img{
    opacity: 0.3;

}

main header{
    width: 100%;
    height:50px;
    border: 1px solid purple;
    justify-content: center;
    flex-wrap: wrap;
}
main header a{
    align-self: center;
    text-decoration: none;
    margin: 0 1rem;
    font-size: .7rem;
    color: gray;
}
main div.img-container img{
    margin-bottom: .3rem;
}
main span.vertical{
    vertical-align: super;
}
ul li{
    color: white;
    margin-bottom: 1rem;
}
footer section.footer{
    width: 100%;
    height: 100px;
    border: 1px solid coral;
    background-color: rgb(82, 81, 81);
}
footer div.side-footer{
    width: 200px;
    /* max-width: 200px; */
    height: 100%;
    border: 1px solid red;
    align-items: center;
    justify-content: space-between;
}
footer div.side-footer i{
    margin: .4rem;
}
footer div.side-footer img{
    width: 50px;
    height: 50%;
    align-self: center;
    padding: .4rem;
}
footer div.nav-footer{
    width: calc(100% - 400px);
    height: 100%;
    border: 1px solid blue;
    padding: .5rem;
    min-width: 50vw;
}
footer div.nav-footer i{
    margin: .3rem .8rem .3rem .8rem;
}
footer div.nav-footer-player{
    height: 40px;
    border:1px solid crimson;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}
footer span.loading-bar{
    width: 100%;
    height: 10px;
    background-color: gray;
    align-self: center;
    margin: 0 .5rem 0 .5rem;
    border-radius: 20px;
}
footer span.flex{
    justify-content: space-evenly;
}
.fa-play-circle{
    font-size: 1.5rem;
}
.radius{
    border-radius: 50%;
}

.progress{
    background-color: green;
    border: 2px solid green;
    height: 100%;
    width: 20%;
    border-radius: 20px;
}

/* TABLET */
@media screen and (max-width: 760px){
    main div.img-container{
        width: 30%;
        border: 1px solid darkblue;
        flex-direction: column;
        margin-right: .7rem;
    }
}
/* MOBILE SMALL */
@media  screen and (max-width: 576px){
    main div.img-container{
        width: 40%;
        border: 1px solid darkblue;
        flex-direction: column;
        margin-right: .7rem;
    }

}

/* MOBILE X SMALL */
@media screen and (max-width: 460px){
    main div.img-container{
        width: 45%;
        border: 1px solid darkblue;
        flex-direction: column;
        margin-right: .7rem;
    }
    main section.logo-section{
        width: 100px;
        height: calc(100vh - 100px);
        border: 1px solid red;
        background-color: black;
        flex-direction: column;
        padding: .4rem;
    }
    main section.banner-section{
        width:calc(100% - 100px);
        border: 1px solid green;
        background-color: rgb(16, 17, 22);
        overflow-y: auto;
        height: calc(100vh - 100px);
    }

    main li{
        display: none;
    }



    span.vertical,
    main section.logo-section li,
    main section.logo-section h3{
        display: none;
    }















